<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WAVE LAB</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/mdui/0.3.0/css/mdui.min.css">
    <style>
        div#left-drawer{border-right:solid 1px #eee}
    </style>
  </head>

  <body class="mdui-theme-primary-indigo mdui-theme-accent-pink mdui-drawer-body-left mdui-appbar-with-toolbar">
    <div class="mdui-appbar mdui-appbar-fixed">
      <div class="mdui-toolbar mdui-color-theme">
        <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">trending_up</i></a>
        <a href="javascript:;" class="mdui-typo-title">HOME</a>
        <div class="mdui-toolbar-spacer"></div>
        <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-ripple" mdui-menu="{target: '#settingMenu'}"><i class="mdui-icon material-icons">settings</i></a>
        <ul class="mdui-menu" id="settingMenu">
          <li class="mdui-menu-item">
            <a id="logoutbtn" href="javascript:;" class="mdui-ripple">
            <i class="mdui-menu-item-icon mdui-icon material-icons">power_settings_new</i>退出
            </a>
          </li>
        </ul>
      </div>
    </div>
  <div class="mdui-drawer mdui-hidden-sm-down" id="left-drawer">
    <ul class="mdui-list" mdui-collapse="{accordion: false}">
      <li class="mdui-collapse-item">
        <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">person_outline</i>
          <div class="mdui-list-item-content">账户概览</div>
        </div>
      </li>

      <li class="mdui-collapse-item">
        <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">favorite_border</i>
          <div class="mdui-list-item-content">自选股</div>
          <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <ul id="recentStock" class="mdui-collapse-item-body mdui-list mdui-list-dense">
          <!-- <li class="mdui-list-item mdui-ripple">New vs Returning</li> -->
        </ul>
      </li>

      <li class="mdui-collapse-item">
        <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">attach_money</i>
          <div class="mdui-list-item-content">交易数据</div>
        </div>
      </li>

      <li class="mdui-collapse-item">
        <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">equalizer</i>
          <div class="mdui-list-item-content">选股策略</div>
        </div>
      </li>

      <li class="mdui-collapse-item">
        <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">filter_list</i>
          <div class="mdui-list-item-content">股票筛选器</div>
        </div>
      </li>
    </ul>
  </div>
    <div class="mdui-container-fluid">
        <div class="mdui-row">
            <div class="mdui-col-md-12">kefei</div>
        </div>
    </div>
    <script src="//cdn.bootcss.com/mdui/0.3.0/js/mdui.min.js"></script>
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/z.js"></script>
    <script>
      var $ = mdui.JQ;
      $('#logoutbtn').on('click',function(){
                  Z.cookie.remove('loginname');
                  Z.cookie.remove('token');
                  window.location.href = '/';
                  });
    </script>
  </body>
</html>
