<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WAVE LAB</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/mdui/0.3.0/css/mdui.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        .mdui-row{margin:25px 10px;}
        .mdui-card{margin:0px 5px;box-shadow: none;}
        .height-150{height:150px;}
        .height-350{height:350px;}
    </style>
  </head>
  <body class="mdui-theme-primary-indigo mdui-theme-accent-pink">
    <div class="mdui-appbar">
      <div class="mdui-toolbar mdui-color-theme">
        <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">trending_up</i></a>
        <a href="javascript:;" class="mdui-typo-title">WAVE LAB</a>
        <div class="mdui-toolbar-spacer"></div>
        <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-ripple" mdui-tooltip="{content:'登录'}" mdui-dialog="{target: '#loginbox',closeOnCancel: true,modal: true}"><i class="mdui-icon material-icons">person</i></a>
        <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-ripple" mdui-tooltip="{content:'注册'}"><i class="mdui-icon material-icons">person_add</i></a>
        <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-ripple" mdui-tooltip="{content:'分享'}"><i class="mdui-icon material-icons">share</i></a>
        <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-ripple" mdui-tooltip="{content:'语言'}"><i class="mdui-icon material-icons">language</i></a>
        <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-ripple" mdui-tooltip="{content:'帮助'}"><i class="mdui-icon material-icons">help</i></a>
      </div>
    </div>
    <div class="mdui-container-fluid">
        <div class="mdui-row">
            <div class="mdui-col-xs-3">
               <div class="mdui-card height-150 gradient-45deg-light-blue-cyan gradient-shadow white-text"><div id="shindex" style="height:100%;width:100%"></div></div> 
            </div>
            <div class="mdui-col-xs-3">
               <div class="mdui-card height-150 gradient-45deg-red-pink gradient-shadow white-text"><div id="szindex" style="height:100%;width:100%"></div></div> 
            </div>
            <div class="mdui-col-xs-3">
               <div class="mdui-card height-150 gradient-45deg-amber-amber gradient-shadow white-text"><div id="zxindex" style="height:100%;width:100%"></div></div> 
            </div>
            <div class="mdui-col-xs-3">
               <div class="mdui-card height-150 gradient-45deg-green-teal gradient-shadow white-text"><div id="cyindex" style="height:100%;width:100%"></div></div> 
            </div>
        </div>
        <div class="mdui-row">
            <div class="mdui-col-xs-6">
                <div id="industry" class="mdui-card height-350"></div>
            </div>
            <div class="mdui-col-xs-3">
                <div id="riseorfall" class="mdui-card height-350"></div>
            </div>
            <div class="mdui-col-xs-3">
                <div id="hot" class="mdui-card height-350"></div>
            </div>
        </div>
        <div class="mdui-row mdui-dialogui-typo-subheading-opacity" style="text-align:center; padding-top:150px; color:#ccc">
            本网站数据全部根据互联网内容自动生成，不构成投资建议。由此造成的任何损失，本网站不负任何责任。股市有风险，投资须谨慎。
        </div>
    </div>
    <div class="mdui-dialog" id="loginbox">
      <div class="mdui-dialog-title">LOGIN</div>
      <div class="mdui-dialog-content">
        <form id="login">
          <div class="mdui-p-a-2" id="login">
            <div class="mdui-textfield mdui-textfield-floating-label">
              <label class="mdui-textfield-label">User name</label>
              <input id="loginname" name="loginname" type="text" class="mdui-textfield-input" value="" />
              <div class="mdui-textfield-error">
                The user name can not be null
              </div>
            </div>
            <div class="mdui-textfield mdui-textfield-floating-label">
              <label class="mdui-textfield-label">Password</label>
              <input id="password" type="password" name="password" class="mdui-textfield-input" value="" />
              <div class="mdui-textfield-error">
                The number of password must be 6,include uper chars please.
              </div>
            </div>
          </div>
        </form>
      <div class="mdui-dialog-actions">
        <button class="mdui-btn mdui-ripple" mdui-dialog-cancel>CANCEL</button>
        <button class="mdui-btn mdui-ripple" mdui-dialog-confirm>LOGIN</button>
      </div>
    </div>
    <script src="/static/js/echarts.min.js"></script>
    <script src="//cdn.bootcss.com/mdui/0.3.0/js/mdui.min.js"></script>
    <script src="/static/js/z.js"></script>
    <script src="/static/js/index.js"></script>
    <script>
      var $ = mdui.JQ;
        $.ajax({
            url : '/ajax', 
            method : 'POST', 
            dataType : 'json', 
            data : {
                action : 'getindexdata'
            }, 
            success : function (data) {
                loadData(data.dataSH, chartSH);
                loadData(data.dataSZ, chartSZ);
                loadData(data.dataZX, chartZX);
                loadData(data.dataCY, chartCY);
            }
        });
      $('#loginbox').on('confirm.mdui.dialog',function(){
                  $.ajax({
                        url : '/ajax', 
                        method : 'POST', 
                        action : 'login', 
                        dataType : 'json', 
                        data : {
                            action : 'login', 
                            loginname : $('#loginname').val(), 
                            password : $('#password').val()
                        }, 
                        success : function (data) {
                            if (data.status == 1) {
                                Z.cookie.set('loginname', data.loginname, 365);
                                Z.cookie.set('token', data.token, 365);
                                window.location.href = '/home/';
                            }
                            else {
                                mdui.alert('Login failed. Please try again.');
                            }
                        }
                      });
      });
    </script>
  </body>
</html>
