<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WAVELAB</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/mdui/0.3.0/css/mdui.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        .mdui-row{margin:25px 10px;}
        .mdui-row > div{margin:15px 0;}
        .mdui-card{margin:0px 5px;box-shadow: none;}
        .height-150{height:200px;}
        .height-350{height:350px;}
    </style>
  </head>
  <body class="mdui-theme-primary-indigo mdui-theme-accent-pink">
    <div id="header" class="mdui-appbar">
      <div class="mdui-toolbar mdui-color-theme">
        <a href="/" class="mdui-btn mdui-btn-icon mdui-hidden-sm-down"><i class="mdui-icon material-icons">trending_up</i></a>
        <a href="javascript:;" class="mdui-typo-title">波段实验室-WAVELAB</a>
        <div class="mdui-toolbar-spacer"></div>
        <div class="header-search-wrapper sideNav-lock mdui-hidden-md-down">
            <input id="searchbox" type="text" name="Search" class="header-search-input z-depth-2" placeholder="Search stock" autocomplete="off">
        </div>
        <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-ripple" mdui-tooltip="{content:'登录'}" id="loginicon"><i class="mdui-icon material-icons">person_outline</i></a>
        <a href="/register/" target="_self" class="mdui-btn mdui-btn-icon mdui-ripple" mdui-tooltip="{content:'注册'}"><i class="mdui-icon material-icons">person_add</i></a>
        <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-hidden-sm-down" mdui-tooltip="{content:'分享'}"><i class="mdui-icon material-icons">share</i></a>
        <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-hidden-sm-down" mdui-tooltip="{content:'语言'}"><i class="mdui-icon material-icons">language</i></a>
        <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-hidden-sm-down" mdui-tooltip="{content:'帮助'}"><i class="mdui-icon material-icons">help</i></a>
      </div>
    </div>
    <div class="mdui-container-fluid">
        <div class="mdui-row">
            <div class="mdui-col-md-3 mdui-col-sm-6 mdui-col-xs-12">
               <div class="mdui-card height-150 gradient-45deg-light-blue-cyan gradient-shadow white-text"><div id="shindex" style="height:100%;width:100%"></div></div> 
            </div>
            <div class="mdui-col-md-3 mdui-col-sm-6 mdui-col-xs-12">
               <div class="mdui-card height-150 gradient-45deg-red-pink gradient-shadow white-text"><div id="szindex" style="height:100%;width:100%"></div></div> 
            </div>
            <div class="mdui-col-md-3 mdui-col-sm-6 mdui-col-xs-12">
               <div class="mdui-card height-150 gradient-45deg-amber-amber gradient-shadow white-text"><div id="zxindex" style="height:100%;width:100%"></div></div> 
            </div>
            <div class="mdui-col-md-3 mdui-col-sm-6 mdui-col-xs-12">
               <div class="mdui-card height-150 gradient-45deg-green-teal gradient-shadow white-text"><div id="cyindex" style="height:100%;width:100%"></div></div> 
            </div>
        </div>
        <div class="mdui-row">
            <div class="mdui-col-md-6 mdui-col-sm-12 mdui-col-xs-12">
                <div id="industry" class="mdui-card height-350"></div>
            </div>
            <div class="mdui-col-md-3 mdui-col-sm-6 mdui-col-xs-12">
                <div id="riseorfall" class="mdui-card height-350"></div>
            </div>
            <div class="mdui-col-md-3 mdui-col-sm-6 mdui-col-xs-12">
                <div id="hot" class="mdui-card height-350"></div>
            </div>
        </div>
        <div class="mdui-row mdui-dialogui-typo-subheading-opacity" style="text-align:center; padding-top:150px; color:#ccc">
            本网站数据全部根据互联网内容自动生成，不构成投资建议。由此造成的任何损失，本网站不负任何责任。股市有风险，投资须谨慎。
        </div>
    </div>
    <div class="mdui-dialog" id="loginbox">
      <div class="mdui-dialog-title">登录</div>
      <div class="mdui-dialog-content">
        <form id="login">
          <div class="mdui-p-a-2" id="login">
            <div class="mdui-textfield mdui-textfield-floating-label">
              <label class="mdui-textfield-label">用户名</label>
              <input id="loginname" name="loginname" type="text" class="mdui-textfield-input" value="" />
              <div class="mdui-textfield-error">
                用户名不能为空 
              </div>
            </div>
            <div class="mdui-textfield mdui-textfield-floating-label">
              <label class="mdui-textfield-label">密码</label>
              <input id="password" type="password" name="password" class="mdui-textfield-input" value="" />
              <div class="mdui-textfield-error">
                密码必须6位以上，含大写字母
              </div>
            </div>
          </div>
        </form>
      <div class="mdui-dialog-actions">
        <button class="mdui-btn mdui-ripple" mdui-dialog-cancel>取消</button>
        <button class="mdui-btn mdui-ripple" mdui-dialog-confirm>登录</button>
      </div>
    </div>
    <script src="/static/js/echarts.min.js"></script>
    <script src="//cdn.bootcss.com/mdui/0.3.0/js/mdui.min.js"></script>
    <script src="/static/js/z.js"></script>
    <script src="/static/js/stock.js"></script>
    <script src="/static/js/index.js"></script>
    <script>
      var $ = mdui.JQ;
      var loginbox = new mdui.Dialog('#loginbox', {closeOnCancel: true,modal: true});
      if (!!Z.cookie.get('loginname')){
        $('#loginicon i').text('person');
        $('#loginicon i').parent().attr('mdui-tooltip', '{content:"' + Z.cookie.get('loginname') + ' 已登录"}');
      }
        $.ajax({
            url : '/ajax', 
            method : 'POST', 
            dataType : 'json', 
            data : {
                action : 'getindexdata'
            }, 
            success : function (data) {
                loadData(data.dataSH, document.getElementById('shindex'));
                loadData(data.dataSZ, document.getElementById('szindex'));
                loadData(data.dataZX, document.getElementById('zxindex'));
                loadData(data.dataCY, document.getElementById('cyindex'));
                Z.check.localStorageSupport() ? localStorage.setItem('indexData', JSON.stringify(data)) : mdui.alert('你的浏览器OUT了。要获得更好的浏览体验，请使用chrome浏览器！');
            }
        });
        $(document).on('click', '#loginicon', function(){
            if (!!Z.cookie.get('loginname')) {
                window.location.href = '/home';
            } else {
                loginbox.open();
            }
        });
        $(document).on('confirm.mdui.dialog', '#loginbox', function(){
            if($('#loginname').val() && $('#password').val()){
                  $.ajax({
                        url : '/ajax', 
                        method : 'POST', 
                        action : 'login', 
                        dataType : 'json', 
                        data : {
                            action : 'login', 
                            loginname : $('#loginname').val(), 
                            password : $('#password').val()
                        }, 
                        success : function (data) {
                            if (data.status == 1) {
                                Z.cookie.set('loginname', data.loginname, 365);
                                Z.cookie.set('token', data.token, 365);
                                window.location.href = '/home/';
                            }
                            else {
                                $('#loginname').val('');
                                $('#password').val('');
                                mdui.alert('登录失败，请重试。');
                            }
                        }
                      });
            }
      });
      $('#searchbox').on('keyup',function(event){
        if (event.key == "Enter") {
          stock.transCode($('#searchbox').val()) ? window.open('/detail/?stockcode='+stock.transCode($('#searchbox').val())) : mdui.snackbar({message: '股票代码格式不正确',position:'top',timeout:2000});;
        }
      });
    </script>
  </body>
</html>
